.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.ruff_cache/
.env
slack-debug-*.log
/digime/
config/google-oauth-client.json
config/google-token.json

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

*.sqlite
*.sqlite3
*.db
